.btn-chatbot {
    cursor: pointer;
    position: absolute;
    right: 0rem;
    bottom: -1rem;
    width: 11.4rem;
    height: 11.4rem;
    background-color: #F5F5F5;
    border: solid 0.9rem #FFFFFF;
    border-radius: 6rem;
    box-shadow: 0rem 0.4rem 0.4rem 0rem #00000040;
    outline: none;
    transition: border-color 0.9s ease, background-color 0.5s ease;
}

.btn-chatbot:hover {
    border-color: rgba(251,137,88,0.4);
    background-color: rgba(255,195,81,0.6);
}

.img-chatbot {
    width: 6.4rem;
    height: 5.75rem;
    margin: 1.825rem 1rem 1.825rem 1rem;
}

.btn-cross {
    position: absolute;
    right: 3rem;
    bottom: 14rem;
    cursor: pointer;
    margin: 0rem;
    padding: 0rem;
    outline: none;
    border: none;
    background-color: transparent;
}

.btn-cross span{
    font-family: 'Roboto';
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    letter-spacing: 0rem;
    text-align: center;
    color: #939393;
    text-shadow: 0rem 0.4rem 0.4rem #00000040;
    transition: font-size 0.5s ease, font-height 0.5s ease, color 0.2s ease;
}

.btn-cross:hover span{
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #FB8958;
}

@keyframes shake {
    0%  { transform: translateY(0rem); }
    9.5%  { transform: translateY(0.05rem); }
    18%  { transform: translateY(0.1rem); }
    25.5%  { transform: translateY(0.15rem); }
    32%  { transform: translateY(0.2rem); }
    37.5%  { transform: translateY(0.25rem); }
    42%  { transform: translateY(0.3rem); }
    45.5%  { transform: translateY(0.35rem); }
    48%  { transform: translateY(0.4rem); }
    49.5%  { transform: translateY(0.45rem); }
    50%  { transform: translateY(0.5rem); }
    50.5%  { transform: translateY(0.45rem); }
    52%  { transform: translateY(0.4rem); }
    54.5% { transform: translateY(0.35rem); }
    58% { transform: translateY(0.3rem); }
    62.5% { transform: translateY(0.25rem); }
    68% { transform: translateY(0.2rem); }
    74.5% { transform: translateY(0.15rem); }
    82% { transform: translateY(0.1rem); }
    90.5% { transform: translateY(0.05rem); }
    100% { transform: translateY(0rem); }
}

.msg-chatbot {
    position: absolute;
    right: 9.6rem;
    bottom: 11rem;
    width: 22rem;
    height: 2.8rem;
    padding: 1.4rem 1.8rem 1.4rem 1.8rem;
    background-color: #46B8C8;
    border-radius: 3.25rem 3.25rem 0rem 3.25rem;
    box-shadow: 0rem 0.4rem 0.4rem 0rem #1D4B5240;
    animation: shake 1s ease-out infinite;
}

.msg-chatbot span {
    font-family: 'Roboto';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: 0rem;
    text-align: left;
    color: #FFFFFF;
}