.text-primary   { color: #3D4F5C; }
.text-orange    { color: #FB8958; }
.text-sky       { color: #46B8C8; }
.text-gray      { color: #939393; }
.text-white     { color: #FFFFFF; }
.text-lime      { color: #A9BC87; }
.text-skyblue   { color: #8BB5C9; }
.text-cerulean  { color: #00A0B6; }
.text-purple    { color: #8B60D3; }